.flights-list {
    /* display: none; */
    padding: 20px;
    padding-right: 0%;
    list-style: none;
}
  
.flights-list li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
  
.flights-list li a {
    text-decoration: none;
    color: blue;
    display: block;
    margin-top: 10px;
}
  
.flight-info {
    display: flex;
}

.flight-info img {
    margin-right: 10px;
    float: left;
  }

.flight-data {
    /* float: right; */
    display: block;
}

